name: Flutter CI

on:
  push:
    branches: [ master, impl-actions ]
  pull_request:
    branches: [ master ]

jobs:
  build_android:
    
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: 'stable'
      - name: Download Android keystore
        id: android_keystore
        uses: timheuer/base64-to-file@v1.0.3
        with:
          fileName: key.jks
          encodedString: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
      - name: Create key.properties
        run: |
          echo "storeFile=${{ steps.android_keystore.outputs.filePath }}" > android/key.properties
          echo "storePassword=${{ secrets.ANDROID_KEYSTORE_PASSWORD }}" >> android/key.properties
          echo "keyPassword=${{ secrets.ANDROID_KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}" >> android/key.properties
      - name: Install dependencies
        run: flutter pub get
      - name: Generate localization
        run: flutter pub run intl_utils:generate
      - name: Build APK
        run: flutter build apk --release
      - name: Archive APK
        uses: actions/upload-artifact@v1
        with:
          name: android-build
          path: build/app/outputs/flutter-apk/release
  
  build_ios:
    
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.4.0
        with:
          channel: 'stable'
      - name: Install dependencies
        run: flutter pub get
      - name: Generate localization
        run: flutter pub run intl_utils:generate
      - name: Build IPA
        run: flutter build ios --release --no-codesign
      - name: Archive IPA
        uses: actions/upload-artifact@v1
        with:
          name: ios-build
          path: build/ios/iphoneos
